<div class="col-md-6">  
    <h2 class="text-center">{{empformlabel}}</h2>  
    <form [formGroup]="editForm" novalidate class="form">  
      <div class="form-group">  
        <label for="item">Item:</label>  
        <input type="text" formControlName="item" placeholder="Item" name="item" class="form-control" id="item">  
      </div>  
    
      <div class="form-group">  
        <label for="amount">Amount:</label>  
        <input formControlName="amount" placeholder="Amount" name="amount" class="form-control" id="amount">  
         
      </div>  
    
      <div class="form-group">  
        <label for="category">Category:</label>  
        <input formControlName="category" placeholder="Category" name="category" class="form-control" id="category">  
         
      </div>  
    
      <div class="form-group">  
        <label for="location">Location:</label>  
        <input formControlName="location" placeholder="Location" name="location" class="form-control" id="location">  
          
      </div> 
      <div class="form-group">  
        <label for="view">Location:</label>  
        <input formControlName="view" placeholder="View" name="view" class="form-control" id="view">  
          
      </div>  
       <button class="btn btn-success" [disabled]='editForm.invalid'  (click)="onUpdate()">Save</button>  
    
    </form>  
  </div>  
